<div class="d-flex w-100 h-100">
  <!-- Not Authenticated -->
  <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!authService.isAuthenticated()">
    <div class="form-group">
      <label for="username">Username (use: test)</label>
      <input id="username" type="text" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Password (use: test)</label>
      <input id="password" type="text" formControlName="password">
    </div>
    <button type="submit" class="w-100" [disabled]="form.invalid">Sign In</button>
  </form>
  <!-- Authenticated -->
  <div class="container" *ngIf="authService.isAuthenticated()">
    <button type="button" class="w-100" (click)="signOut()">Sign Out</button>
    <hr class="m-tb">
    <div class="container">
      <!-- GET request -->
      <button type="button" class="w-100 m-b" (click)="pingGet()">Ping GET</button>
      <div class="form-group">
        <label for="getparam">GET Parameter</label>
        <input id="getparam" type="text" [(ngModel)]="getParam">
      </div>
      <div class="form-group">
        <label for="getresponse">GET Response</label>
        <textarea id="getresponse" [(ngModel)]="getResponse" readonly></textarea>
      </div>
    </div>
    <hr class="m-tb">
    <div class="container">
      <!-- POST request -->
      <button type="button" class="w-100 m-b" (click)="pingPost()">Ping POST</button>
      <div class="form-group">
        <label for="postbody">POST Body</label>
        <input id="postbody" type="text" [(ngModel)]="postBody">
      </div>
      <div class="form-group">
        <label for="getresponse">POST Response</label>
        <textarea id="getresponse" [(ngModel)]="postResponse" readonly></textarea>
      </div>
    </div>
  </div>
</div>